body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#444;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  /*border:10px solid red;
  border-radius:10px;
  position:absolute;*/
  position: absolute;
  /*content: url('http://dressacat.com/chat.png');*/
  height: 300px;
}
.blinky{
  /*border:10px solid yellow;
  border-radius:10px;
  position:absolute;*/
  position: absolute;
  content: url('https://famouskin.com/images/celebrity/ryan-gosling.png');
  height: 150px;
}
.fast {
  position: sticky;
  content: url('https://s-media-cache-ak0.pinimg.com/originals/b4/6e/1b/b46e1bf9a0a196ec96750024066122a1.gif');
  height: 200px;
}
.jumping {
  position: sticky; 
  content: url('https://media.giphy.com/media/OmxPCq8ATFXig/giphy.gif');
}